!!!
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/blueprint/screen.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/stylesheets/blueprint/print.css", type="text/css", media="print")
    //if lt IE 8
      link(rel="stylesheet", href="/stylesheets/blueprint/ie.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/outsource/jquery.js")
    script(src="/javascripts/outsource/pure.js")
    script(src="/javascripts/application.js")

  body
    #header
      .container
        .span-24.last
          a(href="/")
            h1= title

    #wrapper
      .container.prepend-top
        .span-24.last
          != body

    #footer
      .container.prepend-top
        p © Copyright 2011 by the alaGeek Team.