@header-height: 60px;

body {
    background-color: #eee;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

#header {
    background-color: #222;
    height: @header-height;

    h1 {
        margin: 0;
        color: #fff;
        font-size: 36px;
        line-height: @header-height;
    }
}